/* Empty. Add your own CSS if you like */
.bar.bar-orange {
  border-color: #ff7647;
  background-color: #ff8a5e;
  background-image: linear-gradient(0deg, #ff7647,#ff7647 50%, transparent 50%);
  color: #fff; }
.bar.bar-orange .title {
  color: #fff; }
.bar.bar-orange.bar-footer {
  background-image: linear-gradient(180deg, #ff7647, #ff7647 50%, transparent 50%); }


.bar.bar-brown {
  border-color: #ec0d17;
  background-color: rgba(236, 13, 23, 0.34);
  background-image: linear-gradient(0deg, #ec0d17, #ec0d17 50%, transparent 50%);
  color: #860d16; }
.bar.bar-brown .title {
  color:#860d16; }
.bar.bar-brown.bar-footer {
  background-image: linear-gradient(180deg, #ec0d17, #ec0d17 50%, transparent 50%); }

.bar-brown .button {
  border-color:#ec0d17;
  background-color: rgba(236, 13, 23, 0.34);
  color: #860d16; }
.bar-brown .button:hover {
  color: #860d16;
  text-decoration: none; }
.bar-brown .button.active, .bar-brown .button.activated {
  border-color: #ec0d17;
  background-color: rgba(236, 13, 23, 0.34); }
.bar-brown .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #860d16;
  font-size: 17px; }
.bar-brown .button.button-icon {
  border-color: transparent;
  background: none; }

.button.button-insurance {
  border-color: transparent;
  background-color: #ec0d17;
  color: #fff; }
.button.button-insurance:hover {
  color: #860d16;
  text-decoration: none; }
.button.button-insurance.active, .button.button-insurance.activated {
  border-color: rgba(178, 137, 113, 0.51);
  background-color: #b27660; }
.button.button-insurance.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #860d16; }
.button.button-insurance.button-icon {
  border-color: transparent;
  background: none; }
.button.button-insurance.button-outline {
  border-color: rgba(236, 13, 23, 0.34);
  background: transparent;
  color: #860d16; }
.button.button-insurance.button-outline.active,
.button.button-insurance.button-outline.activated {
  background-color: rgba(236, 13, 23, 0.34);
  box-shadow: none;
  color: #a50d16; }

.home-button{
  width: 100%;
 }

.imageDiv{
  margin: 0px;
  line-height: 250px;
  background-color: rgb(232,235,239);
  text-align: center;
}
.blankImage{

  font-size: 64px;
  color: rgb(136,136,136);
  vertical-align: middle;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 130px;
  min-height: 100px;
}

.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 115px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
