<ion-view view-title="Add-Vehicle">
  <!--<ion-header-bar>-->
    <!--<div class="buttons">-->
      <!--<button class="button button-clear" style="color: red;" ng-click="closeLogin()">X</button>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-content>
    <form ng-submit="submitVehicle()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Vehicle Number</span>
          <input type="text" placeholder="Vehicle Number" ng-model="myVehicle.number">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Owner</span>
          <input type="text" placeholder="Owner" ng-model="myVehicle.owner">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Insurance Company</span>
          <input type="text" placeholder="Insurance Company" ng-model="myVehicle.insuranceCompany">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Policy Number</span>
          <input type="text" placeholder="Policy" ng-model="myVehicle.policyNumber">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Expire Date</span>
          <input type="text" placeholder="Expire Date" ng-model="myVehicle.policyExpireDate">
        </label>

        <label class="item">
          <button class="button button-block button-insurance" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
