<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="(index, vehicle) in vehicles">
        <a class="item  item-thumbnail-left item-button-right" href="#/app/vehicle/{{index}}">
          <img src="img/car.png">
          <h2 style="font-weight: 800;font-size: 20px">{{vehicle.lisencePlate}}</h2>
        </a>
      </ion-item>
    </ion-list>
        <div ng-if="showVehicles">
          <ol>
            <!--
            <a href="#/app/vehicle" class="button button-block button-insurance ">
              {{vehicles[1].lisencePlate}}
            </a>
            -->
            <li ng-repeat="(index, vehicle) in Vehicles">
              <!--{{vehicle.insuranceCompany}}-->
              <a href="#/app/vehicle/{{index}}" class="button button-block button-insurance ">
                {{vehicle.number}}
               </a>
              <!--<ion-item href="#/app/accidentInfo"> {{vehicle.number}}</i></ion-item>-->
            </li>
            <br/>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
