<ion-view view-title="Insurance">
  <ion-content>
    <div>
      <!--<button class="button  button-block button-outline button-insurance"><i class="ion-android-pin"></i>-->
        <!--Nearby Service Poviders-->
      <!--</button>-->
      <a href="#/app/serviceProviders" class="button button-block button-outline button-insurance ">
        <i class="ion-android-pin">  Nearby Service Poviders</i>
      </a>
    </div>

    <div>
      <a href="#/app/taxi" class="button button-block button-outline button-insurance ">
        <i class="ion-android-car">  Nearby Taxi Services</i>
      </a>
      <!--<button class="button  button-block button-outline button-insurance"><i class="ion-android-car"></i>-->
        <!--Nearby Taxi Services-->
      <!--</button>-->
    </div>

    <div>
      <div class="col col-100">
        <div class="col col-offset-20" ng-if="!showVehicles">
          <h3>{{message}}</h3>
        </div>
        <div ng-if="showVehicles">
          <ol>
            <li ng-repeat="vehicle in Vehicles">
              <a href="#/app/accidentInfo" class="button button-block button-insurance ">
                {{vehicle.number}}
               </a>
              <!--<ion-item href="#/app/accidentInfo"> {{vehicle.number}}</i></ion-item>-->
            </li>
            <br/>
          </ol>
        </div>
      </div>
    </div>

    <!--<div>-->
      <!--<ul>-->
      <!--<li ng-repeat="vehicle in Vehicles">-->
        <!--<a href="#">{{vehicle.vehicleNumber}}</a>-->
      <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

  </ion-content>
</ion-view>
