<ion-view view-title="MyProfile">
  <ion-content>
    <div class="list" ng-repeat="vehicle in Vehicles">

      <a class="item item-thumbnail-left" href="#app/addvehicle">
        <img src="img/car.png">
        <h2>{{vehicle.number}}</h2>
        <p>Owner : {{vehicle.owner}}</p>
        <p>Insurance : {{vehicle.insuranceCompany}}</p>
        <p>Policy number : {{vehicle.policyNumber}}</p>
        <p>Exp. Date : {{vehicle.policyExpireDate}}</p>
      </a>

    </div>

  </ion-content>
</ion-view>
