<ion-view view-title="Taxi Services">
  <ion-content>
    <div style="text-align: center">
      <h4>Associated Taxi Service providers with {{vehicles[vehicleId].insurance.company}} Insurance</h4>
    </div>
    <ion-list>
      <!--ng-repeat="taxi in Taxi"-->
      <ion-item ng-repeat="(key,service) in services">
        <a class="item item-avatar" href="#/app/taxiServiceProvider">
          <img src="{{ taxiServices[service].image }}">
          <h2>{{ service }}</h2>
          <p>{{ taxiServices[service].description }}</p>
          </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
