<ion-view view-title="Taxi Service">
  <ion-content>
    <form ng-submit="sendMobileNumber()">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Your Contact Number</span>
          <input type="text" placeholder="Contact Number" ng-model="mobileNumber.contactNumber">
        </label>

        <ion-list ng-repeat="vehicleSup in vehiclesSupported">
          <ion-radio ng-model="choice.choiceOp" ng-value="vehicleSup">{{vehicleSup}}</ion-radio>
        </ion-list>

        <label class="item">
          <button class="button button-block button-insurance" type="submit" ng-disabled="clicked">Submit</button>
        </label>
      </div>
    </form>

    <div class="col col-offset-20" ng-if="clicked && !showtaxiReservation">
      <h3>{{messageTaxi}}</h3>
    </div>

    <div class="card" ng-if="clicked && showtaxiReservation">
      <div class="item item-divider">
        Service Provider
      </div>
      <div class="item item-text-wrap">
        Taxi Service Provider: {{company}}
      </div>
      <div class="item item-text-wrap">
        Vehicle Type: {{choice.choiceOp}}
      </div>

      <div class="item item-divider">
        Taxi Details
      </div>
      <div class="item item-text-wrap">
        Reference Number: {{taxiReservation.referenceNumber}}
      </div>
      <div class="item item-text-wrap">
        Status: {{taxiReservation.status.status}}
      </div>
      <div class="item item-text-wrap">
        License plate number: {{taxiReservation.licensePlateNumber}}
      </div>
      <div class="item item-text-wrap">
        Current Location: {{taxiReservation.status.address}}
      </div>

      <div class="item item-divider">
        Driver Details
      </div>
      <div class="item item-text-wrap">
        Driver Name: {{taxiReservation.driver.name}}
      </div>
      <div class="item item-text-wrap">
        Contact Number: {{taxiReservation.driver.contactNumber}}
      </div>

    </div>
  </ion-content>
</ion-view>

