<ion-view view-title="Service Providers">
  <ion-content>
    <div style="text-align: center">
      <h4>Associated Towing Service providers with {{vehicles[vehicleId].insurance.company}} Insurance</h4>
    </div>
    <ion-list>
      <ion-item ng-repeat="(key,serviceTowing) in servicesTowing">
        <a class="item  item-thumbnail-left item-button-right">
          <img src="{{ towingServices[serviceTowing].image }}">
          <h2>{{ serviceTowing }}</h2>
          <p>{{ towingServices[serviceTowing].description }}</p>
          <button href="tel:+94777123456" class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </button>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
