<ion-view view-title="Select a Service">
  <ion-content>
    <div class="list card">

      <a class="item item-avatar" href="#/app/accidentInfo">
        <img src="img/accident.png">
        <h2>Record Accident</h2>
      </a>
      <a class="item item-avatar" href="#/app/serviceProviders">
        <img src="img/towingService.png">
        <h2>Towing Service</h2>
      </a>
      <a class="item item-avatar" href="#/app/taxi">
        <img src="img/taxiService.png">
        <h2>Taxi Service</h2>
      </a>

    </div>
  </ion-content>
</ion-view>
